[slackbot]
slack_token = "slack_bot_token"
bot_name = "data"
plugins_path = "/opt/radigast/plugins"
# RPC Plugins. These are separate from the bot.
rpcplugins = ["HelloGoBinary", "HelloPython", "HelloRubyPlugin"]


# Go plugin. These must be compiled with the bot.
[warranty]
path = "/opt/warranty/warranty"

[phone]
username = "2034567890"
password = "1111"
url = "http://comm.portal.com"

[autopkg]
path = "/usr/local/bin/autopkg"
